# Copyright © 2026 Zenin Easa Panthakkalakath
[Desktop Entry]
Name=Konjugate
Comment=Graph-native engineering simulation
Exec=Konjugate %f
Icon=com.konjugate.Konjugate
Type=Application
Categories=Science;Engineering;
Terminal=false
MimeType=application/x-konjugate;
